.add-list-btn {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.15) !important;
  height: 40px !important;
  margin: 0 16px !important;
  padding: 0 20px !important;
  border-radius: 5px !important;
}

.add-list-btn:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.add-list-popup {
  width: 20% !important;
  max-width: none !important;
}

.add-list-title{
  width: 100% !important;
  font-size: 24px !important;
}
