.app-toolbar {
    background-color: transparent !important;
    height: 100% !important;
    padding: 0 !important;
}

.app-toolbar-title {
    color: #ECEFF1 !important;
    font-size: 24px !important;
    line-height: 45px !important;
    padding: 0 !important;
    margin: 0 16px !important;
}

.app-toolbar-undo {
    margin: 0 !important;
}

.app-toolbar-settings {
    margin: 0 !important;
}

.app-toolbar-icon-btn {
    background-color: rgba(255, 255, 255, 0.15) !important;
    width: 40px !important;
    height: 40px !important;
    margin-right: 8px !important;
    padding: 8px !important;
    border-radius: 5px !important;
}

.app-toolbar-icon-btn:hover {
    background-color: #8BC34A !important;
}

.app-toolbar-icon {
    color: white !important;
}

.app-toolbar-add-btn {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.15) !important;
    height: 40px !important;
    margin: 0 16px !important;
    border-radius: 5px !important;
}

.app-toolbar-add-btn:hover {
    background-color: #8BC34A !important;
}
