.card-edit-btn {
  background-color: rgba(0, 0, 0, 0.1) !important;
  opacity: 0.8 !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 3px !important;
  padding: 4px !important;
  margin: 4px !important;
  z-index: 100;
  position: absolute !important;
  top: 4px;
  right: 4px;
  display: none !important;
}

.card-edit-popup {
  width: 30% !important;
  max-width: none !important;
}
