.card-details {
    position: relative;
    padding: 0 !important;
    cursor: pointer !important;
}

.card-title {
    padding: 6px 6px 2px 8px !important;
}

.card-text {
    padding: 6px 6px 6px 8px !important;
}

.card-details:hover .card-edit-btn {
    display:block !important;
}
