.scrollbar {
}

.scrollbar::-webkit-scrollbar {
    height: 12px;
    width: 8px;
}

.scrollbar::-webkit-scrollbar-button {
    display: block;
    height: 5px;
    width: 5px;
}

.scrollbar::-webkit-scrollbar-track:vertical {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track:horizontal {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb:horizontal {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}
